<div
  class="wrap w-100 p-relative d-flex justify-center align-center flex-d-col border-radius-20"
  #wrap
>
  <div class="about-me d-flex d-wrap">
    <div *ngFor="let letter of letters" class="letter overflow">
      <span
        [style.margin-right]="letter.letter === 't' ? marginRight : '0px'"
        class="span"
        >{{ letter.letter }}</span
      >
    </div>
  </div>
  <div class="description p-relative w-100">
    <img class="earth p-relative w-100" src="assets/images/earth2.svg" alt="" />
    <div class="text-wrap p-absolute d-flex justify-center  lg-p-lr-24 sm-p-lr-15">
      <div class="text w-100 t-center border-radius-20 p-16">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quibusdam quasi laborum dolore aperiam molestias reiciendis
          accusantium corrupti facilis neque tempora eligendi temporibus autem
          sed ipsa amet nulla ad, impedit repellendus tempore quae vitae rem
          blanditiis? Facilis earum tempora ratione minus eligendi ullam
          voluptatum non tempore perferendis? Sunt labore quasi doloremque ullam
          repellat nobis optio ipsa sit sint quibusdam, cum et quidem, eveniet
          consectetur beatae pariatur omnis eum maxime perferendis tempora nisi
          magni enim nemo itaque. Recusandae quisquam omnis voluptate dolore
          eius eligendi, cupiditate est tempore, exercitationem ad praesentium
          ullam fuga. Praesentium culpa, sed temporibus ipsa incidunt magnam
          rerum sunt.
        </span>
      </div>
    </div>
  </div>
</div>
