<div
  class="wrap w-100 p-relative d-flex justify-center align-center flex-d-col border-radius-20"
  #wrap
>
  <div class="about-me d-flex d-wrap">
    <div *ngFor="let letter of letters" class="letter overflow">
      <span
        [style.margin-right]="letter.letter === 't' || letter.letter === 'о' ? marginRight : '0px'"
        class="span"
        >{{ letter.letter }}</span
      >
    </div>
  </div>
  <div class="description p-relative w-100">
    <img class="earth p-relative w-100" src="assets/images/earth2.svg" alt="" />
    <div class="text-wrap w-100 p-absolute d-flex justify-center  lg-p-lr-24 sm-p-lr-15">
      <div class="text w-100 t-center border-radius-20 p-16">
        <span>
          {{'aboutMe' | translate}}
        </span>
      </div>
    </div>
  </div>
</div>
