.footer-wrap {
  width: 100%;
  .telegram-container {
    height: 500px;
    position: relative;
    border-bottom: 1px solid var(--border-dark);
    background-repeat: no-repeat;
    background: url("/assets/images/telegram.svg") center / 455px 407px
        no-repeat,
      linear-gradient(var(--background) 50%, var(--deep-blue) 100%);
    width: 100%;

    .content {
      .title-tg {
        font-size: 56px;
        font-family: Rubik;
      }
      z-index: 20;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .button {
        box-shadow: none;
        button:hover {
          span{
            color: var(--black) !important;
          }
          background-color: var(--white);
          img {
            filter: none;
          }
        }
      }
    }
  }
  .telegram-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: radial-gradient(
      circle,
      var(--deep-blue) 0%,
      var(--dark-blue) 46%,
      var(--background) 94%
    );
    z-index: 10;
  }
  .telegram-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-transparent);
    backdrop-filter: blur(20px);
  }
  .inner-container {
    width: 100%;
    height: 500px;
    background: radial-gradient(
      120% 120% at 50% -50%,
      var(--dark-blue) 36%,
      transparent 55%
    );
  }
  .button-top {
    max-width: 1000px;
    height: 60px;
    span {
      font-family: Rubik;
      font-size: 16px;
      color: var(--white-opacity);
    }
    .arrow-top {
      width: 40px;
      height: 30px;
      cursor: pointer;
      background: radial-gradient(
          500% 220% at 50% 140%,
          var(--background) 47.5%,
          var(--deep-blue) 63.5%
        )
        top / 100% 90px no-repeat;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      img {
        padding: 3px;
        width: 100%;
        height: 100%;
        transform: rotate(270deg);
      }
    }
  }
}
@media (max-width: 992px) {
  .footer-wrap {
    .telegram-container {
      .content {
        .title-tg {
          font-size: 46px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .footer-wrap {
    .telegram-container {
      background-size: 300px ;
      .content {
        .title-tg {
          font-size: 30px;
        }
        .button {
          height: 40px;
          max-width: 150px;
        }
      }
    }
    .button-top{
      .bottom-text{
        font-size: 14px;
      }
    }
  }
}
