<div class="footer-wrap d-flex justify-center align-center flex-d-col">
  <div class="telegram-container d-flex justify-center">
    <div class="inner-container"></div>
    <div class="content d-flex align-center flex-d-col">
      <span class="title-tg">My Telegram</span>
      <div (click)="openTg()" (mouseenter)="enter()" (mouseleave)="leave()" class="contact-btn button m-t-20">
        <button class="d-flex justify-center align-center">
          <span class="m-r-8">Contact Me</span>
          <img src="assets/images/tg-button.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
  <div class="button-top lg-p-lr-24 d-flex justify-space-between align-end flex-d-row">
    <span class="bottom-text m-b-15 ">Front End Developer</span>
    <div class="arrow-top" (click)="scrollTop()">
      <img src="assets/images/arrow.svg" alt="" />
    </div>
  </div>
</div>
