.main-container {
  scroll-behavior: smooth;
  height: 100%;
  font-family: Rubik;
  .gray {
    color: var(--gray);
  }
  .text {
    line-height: 1.5;
    .title {
      display: inline-block;
      background: var(---title-background);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 70px;
    }
    .subtitle {
      display: inline-block;
      font-size: 40px;
    }
  }
  .content {
    .git-logo {
      background: url("/assets/images/back-color.svg") 530px / 604px 597px
        no-repeat;
      background-position: center -100px;
      height: auto;
      img {
        max-width: 400px;
      }
    }
    .button {
      top: 720px;
    }
    .git-commit {
      max-width: 900px;
      border: 1px solid var(--border-dark);
      top: 570px;
      .top-bar {
        height: 50px;
        border-bottom: 1px solid var(--border-dark);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #151b23;
        .left {
          img {
            width: 20px;
            height: 20px;
          }
        }
        .right {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .files {
        background-color: var(--background);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .file {
          height: 40px;
          img {
            width: 20px;
            height: 20px;
          }
          .time {
            width: 56%;
          }
        }
        .file:not(:last-child) {
          border-bottom: 1px solid var(--border-dark);
        }
      }
    }
    .technologies {
      max-width: 900px;
      .logotypes {
        img {
          width: 80px;
          filter: brightness(0) saturate(100%) invert(95%) sepia(52%)
            saturate(0%) hue-rotate(229deg) brightness(107%) contrast(102%);
        }
      }
      .technology-text {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 992px) {
  .main-container {
    .text {
      .title {
        font-size: 50px;
      }
      .subtitle {
        font-size: 30px;
      }
    }
    .content {
      .button {
        top: 638px;
      }
      .git-commit {
        top: 485px;
        border: none;
        .top-bar {
          border: 1px solid var(--border-dark);
        }
      }
      .files {
        border: 1px solid var(--border-dark);
      }
    }
  }
}
@media (max-width: 576px) {
  .main-container {
    .text {
      line-height: 1.3;
      .title {
        font-size: 35px;
      }
      .subtitle {
        font-size: 20px;
      }
    }
    .content {
      .git-logo {
        background-position: center -110px;
        img {
          max-width: 300px;
        }
      }
      .button {
        top: 538px;
        max-width: 160px;
      }
      .git-commit {
        top: 385px;
        .top-bar {
          .right {
            display: none;
          }
        }
        .files {
          .file {
            .time {
              width: auto;
              .commit {
                display: none;
              }
            }
          }
        }
      }
      .technologies {
        .logotypes {
          img {
            width: 50px;
          }
        }
        .technology-text {
          font-size: 16px;
        }
      }
    }
  }
}
