.wrap {
  margin-top: 100px;
  font-family: Rubik;
  .text {
    line-height: 1.5;
    .title {
      display: inline-block;
      background: var(---title-background);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 70px;
    }
  }
  .slider {
    height: 500px;
    .carousel-contaner {
      max-width: 1440px;
      height: 300px;
      background: radial-gradient(
        circle,
        var(--background) 73%,
        var(--dark-blue) 89%,
        var(--deep-blue) 100%
      );
      .custom-arrow {
        width: 80px;
        height: 80px;
        background: none;
        cursor: pointer;
        border: none;
        &.prev-arrow {
          transform: rotate(180deg);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      ngx-slick-carousel {
        max-width: 1200px;
        .content {
          .management {
            display: block;
            max-width: 250px;
            .title {
              font-size: 46px;
            }
            .subtitle {
              font-size: 16px;
            }
          }
          .img {
            width: auto;
            height: 400px;
            padding: 30px;
            background: radial-gradient(
              circle,
              var(--background) 40%,
              var(--dark-blue) 70%,
              var(--deep-blue) 100%
            );
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .wrap {
    .slider {
      .carousel-contaner {
        ngx-slick-carousel {
          max-width: 1000px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrap {
    .slider {
      height: 600px;
      .carousel-contaner {
        ngx-slick-carousel {
          max-width: 780px;
          .content {
            .management {
              display: flex;
              max-width: 40%;
              .title {
                font-size: 36px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .wrap {
    .text {
      .title {
        font-size: 50px;
      }
    }
    .slider {
      height: 820px;
      .carousel-contaner {
        ngx-slick-carousel {
          .content {
            .management {
              max-width: 100%;
              .managment-text{
                max-width: 70%;
              }
            }
            .img {
              height: auto;
            }
          }
        }
        .custom-arrow {
          display: none;
        }
        display: flex;
        justify-content: center;
        background: none;
        .custom-arrow {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    margin-top: 70px;
    .slider {
      height: 720px;
      .carousel-contaner {
        ngx-slick-carousel {
          .content {
            .management {
              .title {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .wrap {
    .text {
      .title {
        font-size: 35px;
      }
    }
    .slider {
      .carousel-contaner {
        ngx-slick-carousel {
          .content {
            .management {
              .managment-text{
                max-width: 100%;
              }
              .title {
                font-size: 20px;
              }
              .button {
                max-width: 150px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .wrap {
    .slider {
      height: 600px;
    }
  }
}

