<div class="wrap d-flex justify-center flex-d-col m-b-150  sm-m-b-20">
  <div class="text t-center overflow d-flex flex-d-col md-m-b-10">
    <h1 class="explore">
      <span class="title">{{'explore' | translate}}</span>
    </h1>
  </div>
  <div class="slider d-flex justify-center align-center p-lr-24 sm-p-lr-15">
    <div class="carousel-contaner border-radius-20 w-100 d-flex justify-center align-center xl-justify-space-between">
      <button class="custom-arrow prev-arrow" (click)="slickModal.slickPrev()">
        <img src="assets/images/arrow.svg" alt="arrow" />
      </button>
      <ngx-slick-carousel
        class="carousel w-100"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
      >
        <div ngxSlickItem *ngFor="let slide of slider">
          <div  class="content p-lr-24 lg-p-lr-0 d-flex flex-d-row lg-flex-d-col align-center justify-center lg-m-lr-5">
            <div class="management w-100 m-r-50 xl-m-r-20 d-flex xl-flex-d-col lg-flex-d-row lg-m-r-0 lg-align-center sm-flex-d-col sm-m-b-20">
              <div class="managment-text xl-m-r-10">
                <div class="title m-b-10">
                  <span>{{slide.title}}</span>
                </div>
                <div class="subtitle xl-m-b-20">
                  <span >{{slide.subtitle | translate}}</span>
                </div>
              </div>
              <div class="button m-t-20 xl-m-t-0"  (click)="navigateToProject(slide.link)" [class.no-hover]="isMobile" (mouseenter)="!isMobile && enter()" (mouseleave)="!isMobile && leave()">
                <button class="d-flex justify-center align-center">
                  <span class="m-r-8">{{"visit" | translate}}</span>
                  <img src="assets/images/visit.svg" alt="visit" />
                </button>
              </div>
            </div>
            
            <div class="img border-radius-20 sm-p-20">
              <img class="border-radius-5" [src]="slide.slide" alt="Project image" />
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      <button class="custom-arrow next-arrow" (click)="slickModal.slickNext()">
        <img src="assets/images/arrow.svg"  alt="arrow"/>
      </button>
    </div>
  </div>
</div>

