.wrap {
  margin-top: 150px;
  font-family: Rubik;
  .text {
    text-align: center;
    line-height: 1.5;
    .title {
      display: inline-block;
      background: var(---title-background);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 70px;
    }
  }
  .slider {
    height: 500px;
    .carousel-contaner {
      width: 100%;
      max-width: 1440px;
      border-radius: 20px;
      height: 300px;
      background: radial-gradient(
        circle,
        var(--background) 73%,
        var(--dark-blue) 89%,
        var(--deep-blue) 100%
      );
      .custom-arrow {
        width: 80px;
        height: 80px;
        background: none;
        border: none;
        &.prev-arrow {
          transform: rotate(180deg);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      ngx-slick-carousel {
        max-width: 1200px;
        width: 100%;
        .content {
          .management {
            .title {
              font-size: 56px;
            }
          }
          .img {
            width: auto;
            height: 400px;
            padding: 30px;
            border-radius: 20px;
            background: radial-gradient(
              circle,
              var(--background) 40%,
              var(--dark-blue) 70%,
              var(--deep-blue) 100%
            );
            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
